POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST_DB=
PORT=
SESSION_SECRET=
V_PORT=
URL_ACOES=
URL_FII=
URL_TESOURO=
URL_COTACOES=
URL_ACOES_DIVIDENDOS=
URL_FII_DIVIDENDOS=
VITE_EMAIL_HOST=
VITE_EMAIL_PORT=
VITE_EMAIL_SECURE=
VITE_EMAIL_USER=
VITE_EMAIL_PASS=
VITE_EMAIL_FROM=